@charset "UTF-8";

	.approveGeneralDetail {
		text-align: center;
	}
	
	.approveGeneralDetail input[type="file"] {
		margin-left: 80px;
	}
	
	.approveGeneralDetail table {
		border-collapse: collapse;
		font-size: 16px;
		width: 50%;
		max-width: 500px;
		margin: 15px auto;
	}
	
	.approveGeneralDetail th {
		width: 150px;
		background-color: lightgray;
		border: 1px solid black;
	}
	
	.approveGeneralDetail td {
		border: 1px solid black;
	}
	
	.approveGeneralDetail textarea {
		width: 50%;
		max-width: 500px;
		height: 200px;
		margin: 20px auto;
		display: block;
		border: 1px solid black;
		padding: 10px;
		font-size: 16px;
		line-height: 1.5;
		resize: none;
	}
	
	.approveGeneralDetail input[type="text"] {
		padding: 10px;
		outline: none;
		border: 0;
		font-size: 16px;
		width: 350px;
	}

	.approveGeneralDetail input[type="submit"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		margin-bottom: 10px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}
	
	.approveGeneralDetail input[type="button"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}
	
	.approveGeneralDetail input[type="submit"]:hover {
		background-color: rgb(40, 40, 40);
	}
	
	.approveGeneralDetail input[type="button"]:hover {
		background-color: rgb(40, 40, 40);
	}