<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<mappers>
		<mapper resource="mapper/searchGeneralMapper.xml" />
		<mapper resource="mapper/applyGeneralMapper.xml" />
		<mapper resource="mapper/displayGroupMapper.xml" />
		<mapper resource="mapper/moveGroupMapper.xml" />
	</mappers>
	
</configuration>