<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<mappers>
		<mapper resource="mapper/searchGeneralMapper.xml" />
		<mapper resource="mapper/registerGeneralMapper.xml" />
		<mapper resource="mapper/approveGeneralMapper.xml" />
		<mapper resource="mapper/moveGroupMapper.xml" />
		<mapper resource="mapper/displayBelongsMapper.xml" />
		<mapper resource="mapper/displayKingdomsMapper.xml" />
	</mappers>

</configuration>