@charset "UTF-8";

	.applyGeneralList {
		text-align: center;
		font-size: 30px;
	}
	
	.applyGeneralList input[type="button"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}
	
	.applyGeneralList input[type="button"]:hover {
		background-color: rgb(40, 40, 40);
	}

	.applyGeneralList table {
		border-collapse: collapse;
		width: 100%;
		font-size: 24px;
		table-layout: fixed;
		margin: 20px auto;
	}
	
	.applyGeneralList a {
		text-decoration: none;
		color: rgb(206, 158, 34);
	}
		
	.applyGeneralList th {
		background-color: lightgray;
		border: 1px solid black;
	}
	
	.applyGeneralList td {
		padding: 10px;
		border: 1px solid black;
	}