@charset "UTF-8";

	body {
		margin: 0;
		padding: 0;
	}
	
	.header {
  		text-align: center;
  		margin-bottom: 30px;
  		height: 145px;
		background-color: rgb(0, 0, 0);
	}
	
	.header a {
		text-decoration: none;
		font-size: 20px;
		margin-left: 40px;
		margin-right: 30px;
		color: rgb(255, 255, 255);
	}
	
	.header label {
		font-size: 50px;
		font-family: fantasy;
		color: rgb(206, 158, 34);
	}