@charset "UTF-8";

	.searchGeneralSearch {
		text-align: center;
		margin-top: 20px;
		font-size: 30px;
	}
	
	label {
  		font-weight: bold;
		margin-right: 10px;
	}
	
	input[type="text"] {
		padding: 10px;
		margin-bottom: 15px;
		border-radius: 5px;
		font-size: 16px;
		width: 300px;
	}

	input[type="submit"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}
	
	input[type="button"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}

	input[type="submit"]:hover {
		background-color: rgb(40, 40, 40);
	}
	
	input[type="button"]:hover {
		background-color: rgb(40, 40, 40);
	}

	table {
		border-collapse: collapse;
		width: 100%;
		font-size: 24px;
		table-layout: fixed;
		margin: 20px auto;
	}
	
	.searchGeneralA {
		text-decoration: none;
		color: rgb(206, 158, 34);
	}
		
	th {
		background-color: lightgray;
		border: 1px solid black;
	}
	
	td {
		padding: 10px;
		border: 1px solid black;
	}