@charset "UTF-8";

	.searchGeneralDetail {
		text-align: center;
	}
	
	.searchGeneralDetail img {
		width: 350px;
		height: 350px;
		object-fit: cover;
		object-position: 20% 10%;
		border: 1px solid black;
	}
	
	.searchGeneralDetail table {
		border-collapse: collapse;
		font-size: 16px;
		width: 50%;
		max-width: 450px;
		margin: 15px auto;
	}
	
	.searchGeneralDetail th {
		background-color: lightgray;
		border: 1px solid black;
	}
	
	.searchGeneralDetail td {
		padding: 10px;
		border: 1px solid black;
	}
	
	.searchGeneralDetail textarea {
		width: 50%;
		max-width: 500px;
		height: 200px;
		margin: 20px auto;
		display: block;
		border: 1px solid black;
		padding: 10px;
		font-size: 16px;
		line-height: 1.5;
		resize: none;
	}
	
	.searchGeneralDetail input[type="button"] {
		background-color: rgb(55, 55, 55);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
	}
	
	.searchGeneralDetail input[type="button"]:hover {
		background-color: rgb(40, 40, 40);
	}