<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="displayKingdomsMapper">
	
	<select id="showKingdomsList" resultType="tk.dto.group.DisplayKingdomsDTO">
		SELECT    
		kd.kingdomsno,
		kingdomsnm,
		capital,
		founder,
		foundyear,
		fallyear,
		COUNT(ge.generalno) AS kingdomscnt
		
		FROM tk_m_kingdoms kd
		
		LEFT JOIN tk_m_general ge
		ON ge.kingdomsno = kd.kingdomsno
		
		GROUP BY
		kd.kingdomsno,
		kingdomsnm,
		capital,
		founder,
		foundyear,
		fallyear
		
		ORDER BY kd.kingdomsno ASC
	</select>

</mapper>