<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="displayBelongsMapper">
	
	<select id="displayBelongsList" resultType="tk.dto.group.DisplayBelongsDTO">
		SELECT
		bl.belongsno,
		belongsnm,
		castle,
		city,
		COUNT(ge.generalno) AS belongscnt
		
		FROM tk_m_belongs bl
		
		LEFT JOIN tk_m_general ge
		ON ge.belongsno = bl.belongsno
		
		GROUP BY
		bl.belongsno,
		belongsnm,
		castle,
		city
		
		ORDER BY bl.belongsno ASC
	</select>

</mapper>