<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="searchGeneralMapper">

	<resultMap type="tk.dto.general.GeneralDTO" id="searchGeneralResult">
		<id property="generalno" column="generalno" />
		<result property="name" column="name" />
		<result property="nickname" column="nickname" />
		<result property="command" column="command" />
		<result property="power" column="power" />
		<result property="brain" column="brain" />
		<result property="politic" column="politic" />
		<result property="story" column="story" />
	</resultMap>
	
	<select id="searchGeneral" resultType="searchGeneralResult">
		SELECT *
		FROM tk_general
	</select>

</mapper>