<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="searchGeneralMapper">
	
	<select id="searchGeneral" resultType="tk.dto.general.SearchGeneralDTO">
		SELECT
		generalno,
		kingdomsnm AS kingdoms,
		belongsnm AS belongs,
		name,
		nickname,
		command,
		power,
		brain,
		politic,
		story
		
		FROM tk_g_general ge
		
		INNER JOIN tk_m_kingdoms kg
		ON kg.kingdomsno = ge.kingdomsno
		
		INNER JOIN tk_m_belongs bl
		ON bl.belongsno = ge.belongsno
		
		WHERE 1 = 1
		<if test="searchName != null">
		AND name LIKE '%' || #{searchName } || '%'
		</if>
		<if test="searchNickname != null">
		AND nickname LIKE '%' || #{searchNickname } || '%'
		</if>
		<if test="searchKingdoms != null">
		AND kingdomsnm LIKE '%' || #{searchKingdoms } || '%'
		</if>
		<if test="searchBelongs != null">
		AND belongsnm LIKE '%' || #{searchBelongs } || '%'
		</if>
		
		ORDER BY ge.generalno ASC
	</select>
	
	<select id="searchGeneralDetail" resultType="tk.dto.general.SearchGeneralDTO">
		SELECT
		generalno,
		kingdomsnm AS kingdoms,
		belongsnm AS belongs,
		name,
		nickname,
		command,
		power,
		brain,
		politic,
		story
		
		FROM tk_g_general ge
		
		INNER JOIN tk_m_kingdoms kg
		ON kg.kingdomsno = ge.kingdomsno
		
		INNER JOIN tk_m_belongs bl
		ON bl.belongsno = ge.belongsno
		
		WHERE ge.generalno = #{generalno}
	</select>

</mapper>